<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edição De Campanha</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">  
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Edição De Campanha</h1>
            <p>
                <label for="descricao">Nova Descrição:</label>
                <input type="text" name="descricao" id="descricao" required="required" placeholder="Descrição">
            </p>
            <p>
                <label for="deadline">Nova Data Limite para arrecadação:</label>
                <input type="date" name="deadline" id="deadline" required="required" placeholder="Data limite para arrecadação">
            </p>
            <p>
                <label for="meta">Nova Meta:</label>
                <input type="text" name="meta" id="meta" required="required" placeholder="Meta (em R$) da campanha">
            </p>
            <p>
                <button>Editar Campanha</button>
            </p>
        </div>
    </div>
</body>
</html>