<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/usuario.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Usuário</title>
</head>

<body>
    <div class="home_nav">
        <div class="home_wrapper">
            <div class="home_logo">
                <a href="../index.html">
                    <img alt="Ir para página inicial" src="../img/logo.png" width="60px">
                </a>
            </div>
            <div class="home_cadastro_campanhas">
                <a href="cadastroCampanha.html" id="campanhas">Cadastrar Campanha</a>
            </div>
            <div class="home_busca">
                <a href="buscaCampanhas.html">Buscar Campanha</a>
            </div>
            <div class="home_busca_usuario">
                <a href="buscaUsuarios.html">Buscar Usuário</a>
            </div>
            <div class="home_cadastro">
                <a href="cadastroUsuario.html" id="cadastro">Cadastro</a>
            </div>
        </div>
    </div>
    <div class="nome_usuario"></div>
    <div class="dados_usuario"></div>
    <div class="campanhas_doacoes_wrapper">
        <div class="campanhas_usuario"></div>
        <div class="doacoes_usuario">
            <h3>Histórico de Doações: </h3>
            <div class="coluna_doacoes">
            </div>
        </div>
    </div>
    <script type="module" src="../js/controllers/usuario.js"></script>
</body>

</html>